.noticia {
    background-color: #9c9c9cb3;
    border: 1px solid #090909;
    padding: 20px;
    margin-bottom: 15px;
  }
  .data {
    font-size: 12px;
    color: #090909;
  }
  .noticia2{
    background-color: #9c9c9c89;
    border: 1px solid #090909;
    padding: 20px;
    margin-bottom: 15px;
  }

  th, td {
    padding: 10px; /* espaço interno */
    text-align: center; /* centralizar texto */
    }

    tr:nth-child(even) { /* linhas pares */
        background-color: #f9f9f9;
        }
        tr:nth-child(odd) { /* linhas ímpares */
        background-color: #fff;
        }

        table, th, td {
            border: 1px solid rgb(6, 9, 108);
            }

              h2 {
                color: white;
              }

              th,tr,td {
                border: 1px solid rgb(9, 3, 130);
                color: rgb(91, 91, 91);
              }
              
              .fundo {
                background-image: url('https://s2-oglobo.glbimg.com/aQInQvoeTskSOol5Lh9qPs3VyFA=/0x0:3775x2517/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_da025474c0c44edd99332dddb09cabe8/internal_photos/bs/2024/7/E/6u1DdIQKiVABDSPLNLCQ/107388667-pa-brasilia-df-20-06-2024-coletiva-de-imprensa-no-palacio-do-planalto-alexandre-silveira.jpg');
                background-attachment: fixed;
                background-size: cover;
                background-position: center;
                }

                .fundo2 {
                  background-image: url('https://s1.ppllstatics.com/rc/www/multimedia/2023/12/19/ia-comercial-kAe-U21010222973456v-1200x840@RC.jpg');
                  background-attachment: fixed;
                  background-size: cover;
                  background-position: center;
                  }

                  .logo {
                    background-color: #ff0303;
                    border: 1px solid #090909;
                    padding: 20px;
                    margin-bottom: 15px;


