.container {
    width: 100%; 
    height: 150px; 
    margin: 0 auto; 
    padding: 20px; 
    text-align: center; 
    background-color: blueviolet;
}

.inner-box {
    width: 400px;
        height: 80px;
        padding: 20px;
        background-color: coral;
        margin: 0 auto;
        display: inline-block;
    }
