
p{
    color:blueviolet
}

h1{
    color:rgb(228, 27, 27)
}

ul{
    color:rgb(21, 210, 125)
}
a{
    color:rgb(236, 26, 197)
}

p1{
    color:rgb(0, 0, 0)
}
    
    div {background:linear-gradient(to left,white);
    height: 240px;}

    body {
        background: linear-gradient(to right, rgb(117, 118, 117))
        
    }

    h1 {
        color: white;
        text-shadow: 2px 2px 4px black;
        }