body{
    margin: 0;
}


.box{
    display: inline-block;
    border: 2px solid rgb(250, 0, 0);
    border-radius: 5px;
    padding: 10px 30px;
    background-color: rgb(117, 116, 116);
    margin: 10px 0px 10px 0;
    text-align: center;
}

.box2{
    display: inline-block;
    border-radius: 5px;
    border:2px solid rgb(233, 47, 47);
    padding: 10px 30px;
    background-color: rgb(205, 222, 97);
    margin: 10px 0px 10px 0;
    text-align: center;
}

.box3 {
    display:block
}
.div-centralizada {
    margin: 0 auto;
    width: 300px;
}
.conteudo1{
    display: inline-block;
    width: 100px;
    margin: 0 auto;
}

.conteudo2{
    display: inline-block;
    width: 100px;
    margin: 0 auto;
}
