.box {
    width: 150px;
    height: 150px;
    margin:0 auto;
    padding: 20px;
}
.box1 {
    text-align: center;
    color:aqua;
    background-color: blueviolet;
    display:inline-block;
    margin: 10px;
    padding:15px;
}

.box2 {
    text-align: center;
    color:rgb(201, 249, 43);
    background-color: rgb(69, 140, 228);
    display:inline-block;
    margin: 10px;
padding: 15px;
}