.box1 {
    text-align: jogos;
    text-align: comida;
    text-align: pc;
    text-align: filmes;
    color:aqua;
    background-color: blueviolet;
    width: 120px, 40px;
}

.box1 {
    width: 40px;
    height: px;
    margin:5px ;
    padding: 120px;
    display:inline-block;
}
.box2 {
    width: 40px;
    height: px;
    margin:5px ;
    padding: 120px;
    display:inline-block;
}
.box3 {
    width: 40px;
    height: px;
    margin:5px ;
    padding: 120px;
    display:inline-block;
}
.box4 {
    width: 40px;
    height: px;
    margin:1px   ;
    padding: 120px;
    display:inline-block;
}
div {
    color:aqua;
    background-color: blueviolet;
}