.box {
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background-color: aqua;
    width: 200px;
    height: 250px;
    padding: 15px;
    margin: 10px;
    display: inline-block;
}
.box1 {
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background-color: aqua;
    width: 200px;
    height: 250px;
    padding: 20px;
    margin: 15px;
    display: inline-block;
}
.box2 {
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background-color: aqua;
    width: 200px;
    height: 250px;
    padding: 40px;
    margin: 25px;
    display: inline-block;
}