
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    transition: color 0.3s;
}
.box:hover {
    color: white; BEGIN:
}
.box1 { background-color: lightblue; }
.box2 { background-color: lightgreen; }
.box3 { background-color: lightcoral; }
.box4 { background-color: lightgoldenrodyellow; }
.box5 { background-color: lightpink; }