.inner-box {
    width: 200px;
    height: 100px;
    background-color: coral;
    margin: auto;
}

.container {
    width: 400px;
    height: 300px;
    background-color: lightblue;
    padding: 20px;
    box-sizing: border-box;
}